body {
    margin: 8px;
    width: 430px;
}

textarea {
    height: 180px;
}

select {
    padding: 5px 2px;
}

.manager {
    height: 0px;
    text-align: right;
}

.container {
    margin-left: 5px;
}

.container div:nth-child(n+2) {
    margin-top: 10px;
}

#jsonrpc, #token {
    width: calc(100% - 55px);
}

#sizeEntry {
    width: calc(100% - 70px);
}

#useragent {
    height: 55px;
}
