body {
    margin: 8px;
    width: 430px;
}

textarea {
    height: 180px;
}

.container {
    margin-left: 5px;
}

.container > div:nth-child(n+2) {
    margin-top: 15px;
}

#jsonrpc, #token {
    width: calc(100% - 55px);
}

#sizeEntry {
    width: calc(100% - 75px);
}

#useragent {
    height: 55px;
}
