body {
    width: 430px;
}

.container {
    margin-left: 5px;
}

.container > div:nth-child(n+2) {
    margin-top: 15px;
}

input[speed] {
    width: calc(100% - 40px);
}

select[aria2] {
    width: 100%;
}
