body {
    width: 430px;
}

.container {
    margin-left: 5px;
}

.container > div:nth-child(n+2) {
    margin-top: 15px;
}

.suffix {
    position: absolute;
    right: 24px;
    padding: 3px;
}

select {
    width: 100%;
}
