.double > *:nth-child(2), .triple > *:nth-child(n+2) {
    margin-left: 10px;
}

.double > *, .triple > * {
    display: inline-block;
}

.double > * {
    width: 48%;
}

.triple > * {
    width: 31%;
}

.triple span {
    margin-left: 4px;
    border: 1px ridge #ccc;
    display: inline-block;
    width: 80%;
    text-align: center;
}

.double > *:first-child .suffix {
    right: 236px;
}

.double > *:last-child .suffix {
    right: 16px;
}

#name {
    padding: 0px;
    height: 46px;
    overflow-y: auto;
    margin-bottom: 15px;
}

[swap] {
    padding: 3px;
}

#all-proxy {
    width: calc(100% - 50px);
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td {
    border: 1px outset #CCC;
    padding: 5px;
    word-break: break-word;
    vertical-align: middle;
}

#source input {
    width: calc(100% - 45px);
}

#source .button {
    font-size: 12px;
    padding: 5px;
}

#uri td:active, #file #index:active {
    filter: opacity(60%);
}

#file #index {
    width: 20px;
    text-align: center;
}

#file #name {
    width: calc(100% - 140px);
}

#file #size {
    width: 70px;
    text-align: center;
}

#file #ratio {
    width: 50px;
    text-align: center;
}
