body {
    width: 440px;
}

body > div:nth-child(n+2) {
    margin-top: 15px;
}

#taskName {
    height: 45px;
    overflow-y: hidden;
}

#taskOptions > div:nth-child(n+2) {
    margin-top: 10px;
}

.dual > div {
    display: inline-block;
    width: calc(50% - 8px);
}

.dual > div:nth-child(2) {
    margin-left: 10px;
}

.dual .detail {
    width: 50%;
    display: inline-block;
    padding: 3px
}

.dual input {
    text-align: right;
    width: 25%;
}

div > input {
    width: calc(100% - 85px);
}

#taskUris, #taskFiles {
    display: none;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td {
    border: 1px outset #CCC;
    padding: 5px;
    vertical-align: middle;
}

#taskUris {
    margin-top: 15px;
}

#taskUris div {
    margin-bottom: 5px;
}

#taskUris tr:active {
    filter: opacity(60%);
}

#taskFiles {
    height: 260px;
    overflow-y: auto;
}

#taskFiles td {
    text-align: center;
}

#taskFiles td:nth-child(1) {
    width: 20px;
}

#taskFiles td:nth-child(2) {
    text-align: left;
    width: calc(100% - 140px);
    word-break: break-word;
}

#taskFiles td:nth-child(3) {
    width: 70px;
}

#taskFiles td:nth-child(4) {
    width: 50px;
}
