.double > *:nth-child(2), .triple > *:nth-child(n+2) {
    margin-left: 10px;
}

.double > *, .triple > * {
    display: inline-block;
}

.double > * {
    width: 48%;
}

.triple > * {
    width: 31%;
}

.triple span {
    margin-left: 4px;
    border: 1px ridge #ccc;
    display: inline-block;
    width: 80%;
    text-align: center;
}

.double > *:first-child .suffix {
    right: 236px;
}

.double > *:last-child .suffix {
    right: 16px;
}

.overlay {
    background-color: #fff;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    z-index: 9999;
}

.overlay .button {
    display: block;
    font-size: 11px;
    padding: 3px;
}

#name {
    padding: 0px;
    height: 46px;
    width: 94%;
    overflow-y: auto;
    margin-bottom: 15px;
}

[swap] {
    padding: 3px;
}

[card] {
    height: 360px;
}

#all-proxy {
    width: calc(100% - 50px);
}

#taskUris, #taskFiles {
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td {
    border: 1px outset #CCC;
    padding: 5px;
    word-break: break-word;
    vertical-align: middle;
}

#taskAddUri input {
    width: calc(100% - 45px);
}

#taskAddUri .button {
    font-size: 12px;
    padding: 5px;
}

#taskUris td:active, #taskFiles td:nth-child(1):active {
    filter: opacity(60%);
}

#taskFiles td:nth-child(1) {
    width: 20px;
    text-align: center;
}

#taskFiles td:nth-child(2) {
    width: calc(100% - 140px);
}

#taskFiles td:nth-child(3) {
    width: 70px;
    text-align: center;
}

#taskFiles td:nth-child(4) {
    width: 50px;
    text-align: center;
}
