body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 15px;
    user-select: none;
}

iframe {
    background-color: #FFF;
    border: none;
}

.title {
    font-weight: bold;
    word-break: break-word;
}

.tab, .button {
    border: 1px outset #CCC;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 5px;
    text-align: align;
}

.frame {
    height: 20px;
}

.frame * {
    height: 0px;
}

.offside {
    text-align: right;
}

.button:hover, .tab:hover {
    filter: opacity(60%);
}

.button:active, .tab:active {
    filter: opacity(30%);
}

.checked {
    padding: 2px 4px;
    border: 2px inset #C33;
}

input, textarea {
    font-size: 15px;
    width: calc(100% - 15px);
    padding: 3px 5px;
    resize: none;
}

textarea {
    word-break: break-word;
}

option:checked {
    font-weight: bold;
    color: #F00;
}
