iframe {
    background-color: #FFF;
    border: none;
}

#optionsWindow, #newTaskWindow, #taskMgrWindow, #aria2Global {
    position: absolute;
    width: 100%;
    left: 0px;
}

#optionsWindow, #aria2Global {
    top: 0px;
    height: calc(100% - 40px);
}

#taskMgrWindow {
    top: -5px;
    height: calc(100% - 35px);
}

#newTaskWindow {
    top: 40px;
    height: calc(100% - 80px);
}
