.active {
    background-color: #33c;
}

.waiting, .paused {
    background-color: #cc3;
}

.complete {
    background-color: #3c3;
}

.error {
    background-color: #c33;
}

.removed {
    background-color: #c3c;
}

.active, .waiting, .paused, .error, .complete, .removed {
    color: #fff;
}

.activeBox {
    background-color: #0cc;
}

.waitingBox {
    background-color: #4cc;
}

.pausedBox {
    background-color: #8cc;
}

.removedBox {
    background-color: #ccc;
}

.errorBox {
    background-color: #fcc;
}
