body {
    width: 440px;
}

body > div:nth-child(n+2) {
    margin-top: 15px;
}

#taskBatch {
    height: 180px;
}

#taskProxy {
    width: calc(100% - 55px);
}

#newTaskMenu {
    text-align: center;
}
