#queueTabs span:nth-child(2n), #networkBandwidth span:nth-child(2n) {
    margin-right: 10px;
}

#networkStatus {
    padding: 3px;
}

#networkBandwidth span:nth-child(2n+1) {
    padding: 3px 5px;
}

#taskQueue {
    height: 410px;
    overflow-y: auto;
}

.taskInfo {
    border: 1px outset #CCC;
    padding: 5px;
    margin-bottom: 5px;
}

.taskBody {
    width: calc(100% - 20px);
}

.taskBody, .taskMenu, .taskBody span, .taskMenu span {
    display: inline-block;
}

.taskBody span {
    width: calc(100% / 3);
}

.taskMenu {
    vertical-align: top;
    width: 20px;
}

.taskMenu .button {
    font-size: 12px;
    padding: 1px;
    width: 16px;
    height: 16px;
}

#fancybar {
    text-align: center;
}

#fancybar:active {
    filter: opacity(30%);
}
