#tabs span:nth-child(2n), #bandwidth span:nth-child(2n) {
    margin-right: 10px;
}

#network {
    padding: 3px;
}

#bandwidth span:nth-child(2n+1) {
    padding: 3px 5px;
}

#queue {
    height: 410px;
    overflow-y: auto;
}

.session {
    border: 1px outset #CCC;
    padding: 5px;
    margin-bottom: 5px;
}

.body {
    width: calc(100% - 25px);
}

.body, .menu {
    display: inline-block;
}

.detail * {
    display: inline-block;
}

.detail > * {
    width: 32%;
}

.detail > * > * {
    margin-left: 4px;
}

.menu {
    vertical-align: top;
    width: 20px;
}

.menu .button {
    font-size: 12px;
    padding: 1px;
}

#error {
    color: #f00;
    font-size: 11px;
}

#estimate > * {
    margin-left: -4px;
}

#fancybar {
    text-align: center;
}

#fancybar:active {
    filter: opacity(30%);
}
