[highlight] {
    padding: 3px 5px;
}

[info]:nth-child(2n) {
    margin-right: 10px;
}

[module] {
    background-color: #FFF;
    margin: 8px;
    position: absolute;
    border: 0px;
}

[module="download"] {
    top: 36px;
    left: 0px;
    width: calc(100% - 15px);
    height: calc(100% - 90px);
}

[module="options"], [module="taskMgr"] {
    top: -8px;
    left: -8px;
    width: 100%;
    height: calc(100% - 40px);
}

[card] {
    overflow-y: auto;
}

[card] {
    height: 360px;
}

.queue {
    height: 410px;
    overflow-y: auto;
}

.session {
    border: 1px outset #CCC;
    padding: 3px;
    margin-bottom: 5px;
}

.details {
    width: calc(100% - 25px);
}

.details, .menu, .result * {
    display: inline-block;
}

.result > * {
    width: 32%;
}

.result > * > * {
    margin-left: 4px;
}

.menu {
    vertical-align: top;
    width: 20px;
}

.menu [button] {
    font-size: 12px;
    padding: 1px;
}

#error {
    color: #f00;
    font-size: 11px;
}

#estimate > * {
    margin-left: -4px;
}

#fancybar {
    text-align: center;
}

#fancybar:active {
    filter: opacity(30%);
}
